@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

/* Full height image header */
.jumbotron {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("assets/design/code (3).jpg");
}

.section {
    display: none;
}

.section.w3-card {
    padding: 48px;
    background-color: white;
    border-radius: 8px;
}


.w3-bar .w3-button {
    padding: 16px;
}

img.stack {
    filter: grayscale(100%);
    height: 80px;
    margin: 15px;
}

img.logo {
    max-height: 150px;
    display: block;
    margin: 0 auto;
}